<section class='divisions section-base section-bg-image section-flex-center'>
  <div class="bottom__light__shape">
    <picture>
      <img src="/assets/images/bottom_light_shape_small.webp" alt="Bottom light shape" width="100%">
    </picture>
  </div>
  <div class='content'>
    <h2 class='section-title'>{{i18n.homepage.divisions_title}}</h2>
  </div>
  {{> sign/sign-101}}
  <div class='divisions__list'>
    <div class='division card-base'>
      <div class='division__logo'>
        {{> logo/axivita}}
      </div>
      <h3
        class='division__title text-primary'
      >{{i18n.homepage.division_austria_title}}</h3>
      <p class='division__desc text-base'>
        {{i18n.homepage.division_austria_text_1}}
        <br />
        <br />
        {{i18n.homepage.division_austria_text_2}}
        <br />
        <br />
        <b>{{i18n.homepage.division_austria_text_3}}</b>
      </p>
    </div>
    <div class='division card-base'>
      <div class='division__logo'>
        {{> logo/axivita}}
      </div>
      <h3
        class='division__title text-primary'
      >{{i18n.homepage.division_world_title}}</h3>
      <p class='division__desc text-base'>
        {{i18n.homepage.division_world_text_1}}
        <br />
        <br />
        {{i18n.homepage.division_world_text_2}}
        <br />
        <br />
        <b>{{i18n.homepage.division_world_text_3}}</b>
      </p>
    </div>
  </div>
  {{#if isHomepage}}
    <a href="pages/contact.html"
      class='btn division__btn btn-center'
    >{{i18n.homepage.contact_us_button}}</a>
  {{else}}
    <a href="contact.html" class="about-advantages__btn btn">{{i18n.homepage.contact_us_button}}</a>
  {{/if}}
  <div class="top__shape">
    <picture>
      <img src="/assets/images/top_shape_m.webp" alt="Top shape" width="100%">
    </picture>
  </div>
</section>