<!-- Footer / Contacts -->
<footer class='footer' id='contact'>
  <div class='content'>
    <div class='footer__logo'>
      {{#if (eq lang 'en')}}
        <a href="/">
      {{else}}
        <a href="/de/">
      {{/if}}
        {{> logo/footer-logo}}
      </a>
    </div>
    <div class='footer__contacts'>
      <div class='footer__phone'>
        <a href="tel:{{company.phone}}">{{i18n.footer.phone}}</a>
      </div>
      <div class='footer__email'><a href="mailto:{{i18n.footer.email}}">{{i18n.footer.email}}</a></div>
      <div class='footer__address'>
        {{i18n.footer.address}}
      </div>
    </div>
  </div>
</footer>
<script src='/assets/scripts/index.js' type="module"></script>