<!-- Header -->
<header class="header">
  <div class="header__logo">
    {{#if (eq lang 'en')}}
      <a href="/">
    {{else}}
      <a href="/de/">
    {{/if}}
      {{> logo/header-logo}}
    </a>
  </div>
  <nav class="header__nav">
    <a href="{{#if isHomepage}}#{{else}}../index.html{{/if}}" class="nav__link{{#if isHomepage}} nav__link--active{{/if}}">{{i18n.menu.homepage}}</a>
    <a href="{{#if isHomepage}}pages/about.html{{else}}about.html{{/if}}" class="nav__link{{#if isAbout}} nav__link--active{{/if}}">{{i18n.menu.about}}</a>
    <a href="{{#if isHomepage}}pages/services.html{{else}}services.html{{/if}}" class="nav__link{{#if isServices}} nav__link--active{{/if}}">{{i18n.menu.services}}</a>
    <a href="{{#if isHomepage}}pages/quality.html{{else}}quality.html{{/if}}" class="nav__link{{#if isQuality}} nav__link--active{{/if}}">{{i18n.menu.quality}}</a>
    <a href="{{#if isHomepage}}pages/contact.html{{else}}contact.html{{/if}}" class="nav__link{{#if isContact}} nav__link--active{{/if}}">{{i18n.menu.contact_us}}</a>
    <div class="nav__lang-select" tabindex="0">
      {{#if (eq lang 'en')}}
        <img class="nav__lang-flag" src="/assets/images/icons/en.png" alt="en">
        <span class="nav__lang-label">{{i18n.menu.english}}</span>
      {{else}}
        <img class="nav__lang-flag" src="/assets/images/icons/de.png" alt="de">
        <span class="nav__lang-label">{{i18n.menu.deutsch}}</span>
      {{/if}}
      <span class="nav__lang-arrow">&#9662;</span>
      <div class="nav__lang-dropdown">
        <div class="nav__lang-option" data-lang="en">
          <img src="/assets/images/icons/en.png" alt="en">
          <span>{{i18n.menu.english}}</span>
        </div>
        <div class="nav__lang-option" data-lang="de">
          <img src="/assets/images/icons/de.png" alt="de">
          <span>{{i18n.menu.deutsch}}</span>
        </div>
      </div>
      </div>
    </nav>
</header> 